<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsm.core.dao.UserSettingDao">
    <insert id="addUserSetting" parameterType="com.nsm.core.bean.UserSetting">
      insert into user_setting(
        userId,
        autoJoinGroup
      )values(
        #{userId},
        #{autoJoinGroup}
      )
    </insert>

    <select id="getUserSetting" resultType="com.nsm.core.bean.UserSetting">
        select
          userId,
          autoJoinGroup
        from user_setting
        where userId = #{userId}
    </select>

    <update id="updateUserSetting" parameterType="com.nsm.core.bean.UserSetting$Update">
      update user_setting
      <set>
          <if test="autoJoinGroup != null">
              autoJoinGroup = #{autoJoinGroup},
          </if>
      </set>
      where userId = #{userId}
    </update>

    <delete id="deleteUserSetting">
        delete from user_setting where userId = #{userId}
    </delete>
</mapper>