<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsm.mvc.dao.UserDao">
    <insert id="addUser" parameterType="com.nsm.mvc.bean.User">
        insert into User(
          userId,
          username,
          password
        )values (
          #{userId},
          #{username},
          #{password}
        )
    </insert>

    <select id="getUser" resultType="com.nsm.mvc.bean.User">
        SELECT
          userId,
          username,
          password
        from User
        where userId = #{uid}
    </select>

    <select id="getUsers" resultType="com.nsm.mvc.bean.User">
        SELECT
            userId,
            username,
            password
        from User
        order by userId
        limit #{offset},#{limit}
    </select>
</mapper>