<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsm.mvc.dao.UserDao">
    <insert id="addUser" parameterType="com.nsm.mvc.bean.User">
        insert into user(
          userId,
          userType,
          username,
          nickname,
          userIcon,
          password,
          userStatus,
          createTime
        )values (
          #{userId},
          #{userType},
          #{username},
          #{nickname},
          #{userIcon},
          #{password},
          #{userStatus},
          #{createTime}
        )
    </insert>

    <select id="getUser" resultType="com.nsm.mvc.bean.User">
        SELECT
          userId,
          userType,
          username,
          nickname,
          userIcon,
          password,
          userStatus,
          createTime
        from user
        where userId = #{uid}
    </select>

    <select id="countUser" resultType="long">
      select count(userId) from user
    </select>

    <select id="getUserByUsername" resultType="com.nsm.mvc.bean.User">
        SELECT
          userId,
          userType,
          username,
          nickname,
          userIcon,
          password,
          userStatus,
          createTime
        from user
        where username = #{username}
    </select>

    <select id="getUsersByIds" resultType="com.nsm.mvc.bean.User">
        SELECT
          userId,
          userType,
          username,
          nickname,
          userIcon,
          password,
          userStatus,
          createTime
        from user
        where userId in
        <foreach collection="uids" item="uid" open="(" close=")" separator=",">
            #{uid}
        </foreach>
    </select>

    <select id="getUsers" resultType="com.nsm.mvc.bean.User">
        SELECT
          userId,
          userType,
          username,
          nickname,
          userIcon,
          password,
          userStatus,
          createTime
        from user
        order by userId
        limit #{offset},#{limit}
    </select>

    <update id="updateUser" parameterType="com.nsm.mvc.bean.User$Update">
        update user
        <set>
            <if test="userType != null">
                userType = #{userType},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="userIcon != null">
                userIcon = #{userIcon},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="userStatus != null">
                userStatus = #{userStatus},
            </if>
            <if test="privacy != null">
                privacy = #{privacy},
            </if>
        </set>
        where userId = #{userId}
    </update>

    <delete id="deleteUser">
        delete from User where userId = #{uid}
    </delete>
</mapper>